body{
    background-color: rgb(187, 187, 187);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);

}

/* Página principal */

header {
    background-color: white;
    height: 180px;
    width: 100%;
    }

nav {
    background-color: white;
    display: flex;
    font-size: small;
}

a {
    padding-right: 20px;
    text-decoration: none;
}

.img_principal {
    padding: 1em;
    width: 100%;
}

.link_ilustracion, .link_textil, .link_figuras {
    color:blue;
}

/* Tabla de Horarios */

.tabla_de_horarios {
    background-color: white;
    padding: 1em;
}
.dias{
    font-weight: bold;
}

.lunes_a_viernes, .Lunes, .Martes, .Miércoles,.Jueves,.Viernes {
    color: goldenrod;
}

.Sabado, .horario_sabados {
    color:brown;
}

.Domingo, .horario_domingo {
    color: rgb(167, 167, 167);
}
.horarios{
    font-style: italic;
    font-size: small;
}

.header_box{
    width: ;
    height: ;
    border-radius: 5px ;
}

table{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    border-color: black;
}

th, td{
    border: 1px solid;
    border-color: black;
}

/*Bio*/

.kero_conlentes {
    padding: 10px;
}

.bio {
    background-color: white;
    height: 350px;
}

/* Contacto */

.formulario {
    padding: 2em;
    background-color: white;
    height: 220px;
}

form{
    border: 1px solid;
    border-radius: 5px;
    border-color: rgb(161, 161, 161);
}
/*Trabajos*/

.Trabajos_pages {
    display: flex;
    background-color: white;
    width: 100%;
}

.trabajos_trabajos {
    padding: 1em;
}

/*Footer*/

footer {
    background-color: white;
    width: 100%;
    height: 18px;
}
